[Desktop Entry]
Type=Application
Version=1.0
Name=Install Lite Linux Caixa Mágica 20.04 LTS
Name[ar]=تنصيب لوبينتو 20.04 LTS
Name[ca]=Instal·lar Lite Linux Caixa Mágica 20.04 LTS
Name[da]=Installer Lite Linux Caixa Mágica 20.04 LTS
Name[de]=Lite Linux Caixa Mágica 20.04 LTS installieren
Name[es]=Instalar Lite Linux Caixa Mágica 20.04 LTS
Name[fr]=Installer Lite Linux Caixa Mágica 20.04 LTS
Name[it]=Installa Lite Linux Caixa Mágica 20.04 LTS
Name[no]=Installer Lite Linux Caixa Mágica 20.04 LTS
Name[pl]=Zainstaluj Lite Linux Caixa Mágica 20.04 LTS
Name[pt]=Instalar o Lite Linux Caixa Mágica 20.04 LTS
Name[pt_BR]=Instalar Lite Linux Caixa Mágica 20.04 LTS
GenericName=Install Lite Linux Caixa Mágica
GenericName[ar]=تنصيب لوبينتو
GenericName[ca]=Instal·lar Lite Linux Caixa Mágica
GenericName[da]=Installer Lite Linux Caixa Mágica
GenericName[de]=Lite Linux Caixa Mágica installieren
GenericName[es]=Instalar Lite Linux Caixa Mágica
GenericName[fr]=Installer Lite Linux Caixa Mágica
GenericName[it]=Installa Lite Linux Caixa Mágica
GenericName[no]=Installer Lite Linux Caixa Mágica
GenericName[pl]=Zainstaluj Lite Linux Caixa Mágica
GenericName[pt]=Instalar o Lite Linux Caixa Mágica
GenericName[pt_BR]=Instalar Lite Linux Caixa Mágica
Exec=bash -c "export BROWSER='sudo -H -u llcm firefox'; sudo -E calamares"
Comment=Calamares — System Installer
Comment[ar]=الحبار — منصب النظام
Comment[ca]=Calamares — Instal·lador del Sistema
Comment[da]=Calamares - System installation
Comment[de]=Calamares — System Installer
Comment[es]=Calamares — Instalador del Sistema
Comment[fr]=Calamares  — Installateur de votre system
Comment[it]=Calamares — Installatore del Sistema
Comment[no]=Calamares — System installerer
Comment[pl]=Calamares — Instalator systemu
Comment[pt]=Calamares — Instalador do Sistema
Comment[pt_BR]=Calamares — Instalador do sistema
Icon=calamares
Terminal=false
StartupNotify=true
Categories=Qt;System;
Keywords=installer;calamares;system;
