[Desktop Entry]
Name=Lubuntu
Comment=Lubuntu session using LXQt
Exec=env LXQT_DEFAULT_OPENBOX_CONFIG="/etc/xdg/xdg-Lubuntu/openbox/lxqt-rc.xml" /usr/bin/startlxqt
Type=Application
